/* Home.css */
.home-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 10px;
    font-family: 'Arial', sans-serif;
    background-color: #f0f2f5;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('../../public/home_bg.jpg'); /* Directly from the public folder */
    background-size: cover;
    background-position: center;
    z-index: -1; 
    /* background-image: linear-gradient(to right, #0F67B1, #3FA2F6, #96C9F4, #FAFFAF); */
}

.dark-mode {
    --primary-color: #80bfff;
    --secondary-color: #66cdaa;
    --text-color-primary: #e4e6eb;
    --text-color-secondary: #b0b3b8;
    --border-color: #3a3b3c;
    --background-color: #18191a;
    --container-color: #242526;
    --hover-color: #3a3b3c;
    --box-shadow: 0 1px 2px rgba(255, 255, 255, 0.1);
}

.home-title {
    color: #1877f2;
    font-size: 2.5rem;
    margin-bottom: 1rem;
    margin-left: 60rem;
}

.home-welcome {
    font-size: 1.2rem;             /* Font size for the text */
    color: #0c5f8b;                /* Text color */
    margin-bottom: 2rem;           /* Space below the element */
    text-align: left;              /* Align text to the left */
    padding: 20px;                 /* Padding around the content */
    width: 100%;                   /* Ensure it takes the full width of its container */
    box-sizing: border-box;
}

.button-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 2rem;
}

.home-content {
    text-align: left;              /* Align text to the left */
    display: flex;                /* Use flexbox for layout */
    flex-direction: column;       /* Arrange children in a column */
    align-items: center;          /* Center items along the cross axis (default for flex-direction: column) */
    margin-inline-end: inherit;   /* Use inherited margin on the end side (right for LTR languages) */
    padding-right: revert-layer;  /* Remove any padding right applied by parent styles */
    width: 40%;    
}

.home-button {
    padding: 0.8rem 1.5rem;
    font-size: 1rem;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
    background-color: #e7f3ff;
    color: #1877f2;
    position: fixed; 
    bottom: 30px; 
}

.home-button:hover {
    background-color: #d0e8ff;
    transform: translateY(-2px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logout-container {
    margin-top: auto;
    padding-top: 2rem;
}

.home-button.logout {
    background-color: #1877f2;
    color: white;
}

.home-button.logout:hover {
    background-color: #166fe5;
}

@media (max-width: 600px) {
    .home-container {
        padding: 1rem;
    }

    .home-title {
        font-size: 2rem;
    }

    .home-welcome {
        font-size: 1rem;
    }

    .home-button {
        width: 100%;
    }

    .button-container {
        flex-direction: column;
    }
}