/* Layout.css */
.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: 'Arial', sans-serif;
  background-color: #e4e6eb;
}

.navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.nav-button {
  padding: 0.5rem 1rem;
  margin-left: 1rem;
  border: none;
  border-radius: 20px;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.nav-button:hover {
  transform: translateY(-2px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.nav-button:not(.logout) {
  background-color: #e7f3ff;
  color: #1877f2;
}

.nav-button:not(.logout):hover {
  background-color: #d0e8ff;
}

.logout {
  background-color: #1877f2;
  color: white;
}

.logout:hover {
  background-color: #166fe5;
}

.main-content {
  flex-grow: 1;
  padding: 2rem;
  overflow: hidden; /* Ensure no overflow from the pseudo-element */
  background-image: linear-gradient(to right, #0F67B1, #3FA2F6, #96C9F4, #FAFFAF);

}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-toggle::after {
  content: ' ▼';
  font-size: 0.8rem;
}

.dropdown-menu {
  display: block;
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 1000;
  min-width: 160px;
  padding: 0.5rem 0;
  margin: 0.125rem 0 0;
  font-size: 1rem;
  color: #333;
  text-align: left;
  list-style: none;
  background-color: #ffffff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.175);
}

.dropdown-item {
  display: block;
  width: 100%;
  padding: 0.5rem 1.5rem;
  clear: both;
  font-weight: 500;
  color: #212529;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.dropdown-item:hover {
  color: #ffffff;
  background-color: #007bff;
  text-decoration: none;
}

/* Add responsiveness */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: stretch;
  }

  .nav-button {
    margin: 0.5rem 0;
  }

  .dropdown-menu {
    position: static;
    float: none;
  }
}
